<html lang="en">
<head>
<!--Link al repositorio-->
<!--https://github.com/rodrigoga799/GetServiceToTable.git--> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Rest api from JSON Page</title>
    <!--Configuracion CSS de la tabla-->
    <style> 
            table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }
            th{
                background-color: #4CAF50;
                text-align: left;
                color: white;
            }
            td, th {
              border: 1px solid black;
              text-align: left;
              padding: 4px;
            }
            
            tr:nth-child(even) {
              background-color: #dddddd;
            }
    </style>
</head>
<body>
    <!--Se carga angularJS para la ejecucion-->
    <!--Se carga la libreria de la aplicacion y el controlador-->
        <script src="assets/js/angular.js"></script>
        <script src="appRest.js"></script>
 <!--Se define la app con su respectivo controlador-->
        <div ng-app='appRest'  ng-controller ='controller'>
              
            <table>
                <thead>
                    <tr>
                        <th ng-repeat="titulo in titulos">
                            <!--Se genera de manera dinamica los titulos-->
                            {{ titulo | uppercase }}
                        </th>
                        
                    </tr>
                </thead>
                <tbody >
                     <!--Se carga la libreria de la aplicacion y el controlador-->
                     <!--Se carga la respuesta de la solicitud GET del server y se empieza a iterar para generar la tabla-->
                    <tr ng-repeat="fila in respuesta" >
                        <td align="center" ng-repeat="titulo in titulos">
                            
                                <div ng-switch='titulo'>

                                    <div ng-switch-when='address'>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td><b>Street</b></td>
                                                    <td>{{fila[titulo]['street']}}
                                                </tr>
                                                <tr>
                                                    <td><b>Suite</b></td>
                                                    <td>{{fila[titulo]['suite']}}
                                                </tr>
                                                <tr>
                                                    <td><b>City</b></td>
                                                    <td>{{fila[titulo]['city']}}
                                                </tr>
                                                <tr>
                                                    <td><b>Zipcode</b></td>
                                                    <td>{{fila[titulo]['zipcode']}}
                                                </tr>

                                          
                                            
                                                <tr>
                                                    <td colspan="2"><b>Geo</b></td>
                                                </tr>
                                          
                                          
                                                <tr>
                                                    <td><b>Latitude</b></td>
                                                    <td>{{fila[titulo]['geo']['lat']}}
                                                </tr>
                                                <tr>
                                                    <td><b>Longitude</b></td>
                                                    <td>{{fila[titulo]['geo']['lng']}}
                                                </tr>  
                                            </tbody>
                                        </table>

                                    </div>
                                    <div ng-switch-when='company'>
                                        <table>
                                            <tbody>

                                                <tr>
                                                    <td><b>Name</b></td>
                                                    <td>{{fila[titulo]['name']}}
                                                </tr>
                                                <tr>
                                                    <td><b>CatchPhrase</b></td>
                                                    <td>{{fila[titulo]['catchPhrase']}}
                                                </tr>
                                                <tr>
                                                    <td><b>Bs</b></td>
                                                    <td>{{fila[titulo]['bs']}}
                                                </tr>
                                           

                                            </tbody>



                                        </table>
                                        </div>
                                    <div ng-switch-default>
                                            {{fila[titulo]}}
                                    </div>

                                </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
            
    
</body>
</html>